body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background-color:#000;color:#fff}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}.link{color:#fff}.link:hover{color:#0ff}#div1{height:200px;width:400px;top:50%;left:50%;margin-top:-100px;margin-left:-200px}#div1,#index{position:fixed}
/*# sourceMappingURL=main.c7914bc0.chunk.css.map */